$primary-blue: #2164C9;
$secondary-blue: #046BD2;
$primary-orange: #ED6639;
$light-blue: #F5FAFF;
$contest-yellow: #ffbf421a;
$participant-color: #FFF9EC;
$light-green: #27AE60;
$third-color: #3C5874;
$primary-black: #000000;
$primary-white: white;
$background-light-blue: #F0F8FF;
$background-blue: #E4F2FF;
$yellow-background: rgba(255, 191, 66, 0.1);
$primary-font-sans: 'Work Sans', sans-serif;
$secondary-font-righteous: 'Righteous', sans-serif;
