@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@400;500;600&display=swap');
@import '@petwin/styles/utils';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 80% !important;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none !important;
  }
}

h2 {
  font-size: 1.25rem !important;
  font-family: $secondary-font-righteous;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.modal-backdrop.show {
  width: 100% !important;
  height: 100% !important;
}

.modal-header {
  background: $light-blue;
}

.participantIcon svg {
  margin: 0 auto;
  width: 3.125rem;
  height: 3.125rem;
}

@media (min-width: 48rem) {
  h2 {
    font-size: 3rem !important;
  }

  .participantIcon svg {
    margin: 0 auto;
    width: 8.75rem;
    height: 8.75rem;
  }
}
