@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@400;500;600&display=swap');

body {
    zoom: 0.8;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.modal-backdrop.show {
    width: 100% !important;
    height: 100% !important;
}

.participantIcon svg {
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

@media (min-width: 768px) {
    .participantIcon svg {
        margin: 0 auto;
        width: 140px;
        height: 140px;
    }
}

.modal-header {
    background: #F5FAFF;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 191, 66, 0.1);
}

.mainContainer {
    padding: 0 20px;
    /*min-height: 100vh;*/
}

@media (min-width: 768px) {
    .mainContainer {
        padding: 0px 142px;
    }

    h2 {
        font-size: 48px !important;
    }
}

.slick-arrow {
    display: none !important;
}

h2 {
    font-size: 20px !important;
    font-family: 'Righteous', cursive;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}


main {
    width: 100vw;
    height: 100vh;
}

