$primary-blue: #2164c9;
$secondary-blue: #046bd2;
$primary-orange: #ed6639;
$light-blue: #f5faff;
$contest-yellow: #ffbf421a;
$light-green: #27ae60;
$dark-blue: #3c5874;
$primary-black: #000000;
$light-black: #0000004b;
$light-grey: lightgrey;
$primary-white: white;
$background-light-blue: #f0f8ff;
$background-blue: #e4f2ff;
$yellow-background: rgba(255, 191, 66, 0.1);
$primary-font-sans: 'Work Sans', sans-serif;
$secondary-font-righteous: 'Righteous', sans-serif;
