@import '@petwin/styles/utils';

.Search {
  .Input {
    border-radius: 0.875rem;
    border: 1px solid #b8b8b8;
    background: #fff;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 0.625rem 1.25rem;
    margin-top: 0.625rem;
    width: 100%;
  }

  .SearchResult {
    margin-top: 1.25rem;
  }
}
