@import '@petwin/styles/utils';

.Container {
  position: relative;
}

.Input {
  font-size: 1rem; /* 14px */
  color: $primary-black;
  font-weight: bold;
  border: 1px solid $primary-black;
  border-radius: 1.875rem; /* 30px */
}

.HasError {
  border: 1px solid red !important;
}

.FullWidth {
  width: 100%;
}

.Disabled {
  pointer-events: none;
  opacity: 0.7;
}

.Selected {
  cursor: pointer;
  position: relative;
  padding: 0 1.125rem 0 1rem; /* 1.8em to rem */
  font-size: 1.25rem; /* 20px */

  --size: 0.625rem; /* 10px */

  &:after {
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1rem; /* 1.8em to rem */
    transform: translate(0, -50%) rotate(180deg);
    content: '';
    float: right;
    width: var(--size);
    height: calc(var(--size) / 1.5);
    background-color: $primary-black;
    clip-path: polygon(20% 100%, 0 70%, 50% 0, 100% 70%, 80% 100%, 50% 57%);
    transition: 0.25s all;
  }
}

.Open {
  &:after {
    transform: translate(0, -50%) rotate(0deg);
  }
}

.InputStyle {
  padding: 0.625rem 1.25rem; /* 10px 20px */
}

.DropDown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;

  > * {
    white-space: nowrap;
  }
}
